.field-widget-struct-lookup-field div.form-type-checkbox {
  display : inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  padding: 5px;
}
.field-widget-struct-lookup-field .form-autocomplete {
  width: 99%;
}

.field-widget-struct-lookup-field .form-submit {
  color: #0071B3;
  padding: 0 0 0 5px;
  border: none;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  border-left: 1px solid #000;
  border-radius: 0;
  margin-left: 5px;
}
.field-widget-struct-lookup-field .form-submit:hover {
  text-decoration: underline;
  background: transparent;
}
.no-scones {
  background : #F9FFB8;
  border-radius: 5px;

}

.structfield-selected.no-scones {
  background : #87B3FF;
}
.structfield-selected {
  background: #BDD5FF;
  border-radius: 5px;
}
