
/* construct Search Tool main styles */

/* Display of list of items */

.item-odd {
	padding:7px; 
	background-color:#EDF5FF;
}

.item-even {
	padding:7px; 
	background-color:#D9EBFF;
}

.item-description-odd {
	padding:7px; 
	background-color:#FFFFFF;	 
	display: none;
	border: 1px solid #F8F8F8;
}

.item-description-even {
	padding:7px; 
	background-color:#FFFFFF;
	display: none;
	border: 1px solid #EBEBEB;
}

.item-more-details-button {
	float:right; 
	position:relative; 
	top: -20px; 
	cursor: pointer;
}

.item-admin-toolbox {
  float:right; 
  position:relative; 
/*  
  padding-top: 3px; 
  padding-bottom:3px; 
  padding-right:6px; 
  padding-left: 6px; 
  margin-left:10px; 
  background-color: rgb(255, 255, 204); 
  border-bottom: 1px solid #EAC86B; 
  border-top: 1px solid #EAC86B;
*/  
}


/* Pages switched control */

.pages {
	clear:left;
	font-size:75%;
	margin:1em 0;
	padding:1em 1em 3em;
}

.pages a, .pages span {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #FFFFFF;
	cursor:pointer;
	display:block;
	float:left;
	margin-right:0.1em;
	padding:0.2em 0.5em;
}

.pages span.current {
	background:#0066CC none repeat scroll 0 0;
	border:1px solid #0066CC;
	color:#FFFFFF;
	cursor:pointer;
	font-weight:bold;
}

.pages a {
	border:1px solid #9AAFE5;
	cursor:pointer;
	text-decoration:none;
	padding-top: 1px;
	padding-bottom: 1px;
}

.pages a:hover {
	border-color:#0066CC;
}

.pages a.nextprev {
	cursor:pointer;
	font-weight:bold;
}

.pages span.nextprev {
	color:#666666;
	cursor:pointer;
}

.pages span.nextprev {
	border:1px solid #DDDDDD;
	color:#999999;
	cursor:pointer;
}