/* construct Scones Tool main styles */

#tagSpan {
}

#tagTd {
}

/* Autocomplete Styles */

.autocomplete-w1 { 
  position:absolute; 
  top:0px; 
  left:0px; 
  margin:8px 0 0 6px; 
  
  /* IE6 fix: */ 
  _background:none; _margin:0; 
}

.autocomplete 
{ 
  border:1px solid #999; 
  background:#FFF; 
  cursor:default; 
  text-align:left; 
  max-height:350px; 
  overflow:auto; 
  margin:-6px 6px 6px -6px; 
  
  /* IE6 specific: */ 
  _height:350px;  
  _margin:0; 
  _overflow-x:hidden; 
}

.autocomplete .selected { 
  background:#F0F0F0; 
}

.autocomplete div { 
  padding:2px 5px; 
  white-space:nowrap; 
}

.autocomplete strong { 
  font-weight:normal; 
  color:#3399FF; 
}

.ajax-waiting-icon {
  position: relative;
  top: 3px;
  padding-left: 3px;
}

.jsTreeLinksReadingMode {
  cursor: pointer;
  color: blue;
}

.structureSuperClassText {
  width: 25%;
}

.structureSubClassText {
  width: 25%;
}

.structureSubPropertyText {
  width: 25%;
}

.structureEquivalentClassText {
  width: 25%;
}


.structureDisjointClassText {
  width: 25%;
}

.characteristicsText {
  width: 25%;
}

.displayControlText {
  width: 25%;
}

.relationBrowserNodeTypeText {
  width: 25%;
}

.readingModeAltLabels {
  padding-bottom: 20px;
}

.readingModePrefLabel {
  padding-bottom: 0px;
  margin-bottom: 0px;  
}

.readingModeDescription {
}

#ontologyViewColumRecord td {
  padding-left: 20px;
}

.tabsRow {
  padding: 0px;
  border-bottom: 2px solid #EED300;
}

#teaserBox {
  padding-left: 20px;
}

.buttonsContainer {
  text-align: center; 
  width: 100%;
  padding: 15px;
  background: none repeat scroll 0 0 #FFFCE3;
}

#ontologyViewColumRecord table{
  margin: 0px;
  width: 100%;
}