/* construct Ontology Tool main styles */

input[type=submit] {
  cursor: pointer;
}

input[type=button] {
  cursor: pointer;
}

.actionsSectionHeader {
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

#content-content {
  border: 3px solid #F0F0F0; 
  padding: 10px;
}

#classesTab {
  width: 100px;
  height: 23px;
  float: left;
  text-align: center;
  cursor: pointer;
}

.classesTabSelected {
  background-color: #545454;
  color: #FFFFFF;
  font-size: 1.000em;
  font-weight: 600;
}

.classesTabUnselected {
  background-color: #B0B0B0;
  color: #FFFFFF;
  font-size: 1.000em;
  font-weight: 300;
}

.classesTabUnselected:hover {
  background-color: #545454;
  color: #FFFFFF;
}

#propertiesTab {
  width: 100px;
  height: 23px;  
  float: left;
  text-align: center;
  cursor: pointer;
}

#individualsTab {
  width: 100px;
  height: 23px;  
  float: left;
  text-align: center;
  cursor: pointer;
}

.reasonerButtonDiv {
  width: 20px;
  height: 23px;  
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
}

.propertiesTabSelected {
  background-color: #545454;
  color: #FFFFFF;
  font-size: 1.000em;
  font-weight: 600;
}

.propertiesTabUnselected {
  background-color: #B0B0B0;
  color: #FFFFFF;
  font-size: 1.000em;
  font-weight: 300;
}

.propertiesTabUnselected:hover {
  background-color: #545454;
  color: #FFFFFF;
}



.individualsTabSelected {
  background-color: #545454;
  color: #FFFFFF;
  font-size: 1.000em;
  font-weight: 600;
}

.individualsTabUnselected {
  background-color: #B0B0B0;
  color: #FFFFFF;
  font-size: 1.000em;
  font-weight: 300;
}

.individualsTabUnselected:hover {
  background-color: #545454;
  color: #FFFFFF;
}




/* Main div container where the ontologies get listed */
.ontologiesListContainer {
  width: 75%;   
  /*border: 1px solid #D8D8D8;*/
  float: left;
}

.ontologyEditContainer {
  width: 75%;   
  float: left;
  display: none;
}

/* Layout table of the list of ontologies page */
.ontologiesListLayoutTable {
  margin-left: 15px;
  float: left;
  width: 100%;
}

.breadCrumb {
  float: left;
  font-size: 14px;
  font-weight: bold;
}

.ontologiesListLayoutTable tbody {
  border: none;
}

#ontologySearch {
  float: left;
  margin-left: 10px;
  margin-top: 25px;
}

#ontologySearch tbody {
  border: none;
}

/* Container of the search box */
.searchBoxContainer {
  float: right;
}

/* Search input control */
.searchBox {
  
}

.searchButtonImage {
  float: right;
  margin-left: 3px;
  margin-top: 2px;
  cursor: pointer;
}

#resultsetContainer {
  width: 50%;
}

#filtersContainer {
  width: 50%;  
}

/* Container where the ontologies actions button get displayed */
.ontologiesActionsContainer {
  width: 20%;
  float: right;
  margin-left: 15px;
}

/* The loading bar usually used by Ajax queries */
.loadingBar {
  width: 100%;
  text-align: center;
}


/* Style of a list row when it is in a odd position */
.list-odd {
  background-color: #FFFFFF;     
  padding: 5px;
  cursor: pointer;
}

.list-odd:hover {
  background-color: #FFFCE3;     
  cursor: pointer;
}

/* Style of a list row when it is in an even position */
.list-even {
  background-color: #E0EAF1;   
  padding: 5px;
  cursor: pointer;
}

.list-even:hover {
  background-color: #FFFCE3;     
  cursor: pointer;
}

/* Style of a lsit row if it is selected */
.list-selected {
  background-color: #FBB117;   
  padding: 5px;
  cursor: pointer;
}

.list-selected:hover {
  background-color: #C58917;     
  cursor: pointer;
}

/* Style of a radio button */
.radioButton {
  margin-left: 5px;
  margin-right: 10px;
}

#messagesContainer {
  height: 60px;
  display: inline;
}

.errorBox { 
  background: none repeat scroll 0 0 #FFF7F7;
  border: 1px solid #B20000;
  border-radius: 6px 6px 6px 6px;
  color: #808080;
  font-size: 1.166em;
  margin: 20px 0;
  padding: 10px;
  text-align: center;  
}

.messageBox {
  background: none repeat scroll 0 0 #FFFCE3;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding: 10px;  
  text-align: center;  
}

.successBox {
  background: none repeat scroll 0 0 #F4F7E7;
  border: 1px solid #537407;
  border-radius: 6px 6px 6px 6px;
  color: #537407;
  font-size: 1.166em;
  margin: 20px 0;
  padding: 10px; 
  text-align: center; 
}

.paginatorContainer {
  width: 100%;
  text-align: center;
  margin-top: 20px;  
  float: left;
}

#headersContainer {
  width: 100%;
  height: 25px; 
}

#resultsetTitleContainer {
  width: 100%;
  float: left;
}

#filtersTitleContainer {
  width: 100%;
  float: left;
}

#filtersTitleDataset {
  
}

#filtersDataset {
  
}

.filtersDatasetItem {
  
}

.attributeFilterInputTable {
  background-color: #FFFCE3;
}


.datasetCheckbox {
  margin-right: 5px;
  margin-left: 5px;
}

.typeCheckbox {
  margin-right: 5px;
  margin-left: 5px;
}

.attributeFilterImage {
  margin-right: 7px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  top: 4px;  
}

.filtersTitleDataset {
  font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
  border-bottom: 2px solid #E6E6E6;
  color: #2D2972;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.filtersTitleType {
  font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
  border-bottom: 2px solid #E6E6E6;
  color: #2D2972;
  text-decoration: none;
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.filtersTitleAttribute {
  font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
  border-bottom: 2px solid #E6E6E6;
  color: #2D2972;
  text-decoration: none;
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.actionReloadButton{
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionCreateNewButton{
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionCacheButton{
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}  

.actionRemoveButton{
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionSaveButton{
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionViewButton{
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionDeleteButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionImportButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionExportButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionBrowseButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

.actionImportButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    margin: 3px;
    padding: 2px;
    width: 100px;
}

#importBox {
  width: 100%;
  display: none;
  padding-top: 30px;
}

.saveButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    padding: 2px;
    width: 85px;
    cursor: pointer;
}

.renameButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    padding: 2px;
    width: 85px;
    cursor: pointer;
}

#saveNewOntologyButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    padding: 2px;
    width: 150px;
    cursor: pointer;  
    text-align: center;
}

#saveUpdatedOntologyButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    padding: 2px;
    width: 150px;
    cursor: pointer;  
    text-align: center;
}

#ontologyDescriptionTable {
  width: 100%;
}

#ontologyDescriptionTd {
  width: 100%;
}

.ontologyDescriptionInput {
  width: 100%;
}

.ontologyUriInput {
  width: 100%;
}

.getMoreRecordsButton {
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    padding: 2px;
    width: 100%;
    cursor: pointer;  
}

#ontologyViewTable {
  width: 100%;
}

#ontologyViewTable tbody {
  border: none;
}

#ontologyViewColumClass {
    background: none repeat scroll 0 0 #FFFCE3;
    border: 1px solid #EED300;
    min-width: 215px;
    width: 215px;
}

#ontologyViewColumRecord {
  padding: 0px;
  border: 1px solid #EED300;
}


.uriRenameInputText {
  width: 100%;
}

#uriRenameTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#uriRenameTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px;  
  cursor: pointer;
}

#annotationsTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#annotationsTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px;  
  cursor: pointer;
}

#annotationsHeaderImg {
  float: right;
  cursor: pointer;
}

.templateImg {
  position: relative;
  top: 3px;
}

#annotationsTable input {
  width: 85%;
}

#annotationsTable textarea {
  width: 90%;
}


#structureTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#structureTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px;  
  cursor: pointer;
}

#structureHeaderImg {
  float: right;
  cursor: pointer;
}

#structureTable input {
  width: 85%;
}

#structureTable textarea {
  width: 90%;
}

#characteristicsTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#characteristicsTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px;  
  cursor: pointer;
}

#characteristicsHeaderImg {
  float: right;
  cursor: pointer;
}

#characteristicsTable input {
  width: 85%;
}

#characteristicsTable textarea {
  width: 90%;
}

.characteristicRow a {
  padding-left: 5px;
}


#advancedTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#advancedTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px;  
  cursor: pointer;
}

#advancedHeaderImg {
  float: right;
  cursor: pointer;
}

#advancedTable input {
  width: 85%;
}

#advancedTable textarea {
  width: 90%;
}

.advancedRow a {
  padding-left: 5px;
}

.advancedSectionHeader {
  font-style: italic;
  background-color: #FFFACE;
  font-weight: bold;
}

   


#instancesTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#instancesTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px;  
  cursor: pointer;
}

#instancesHeaderImg {
  float: right;
  cursor: pointer;
}

#instancesTable input {
  width: 85%;
}

#instancesTable textarea {
  width: 90%;
}

.instanceRow a {
  padding-left: 5px;
}

.footerInstanceRow {
  background: none repeat scroll 0 0 #ffface;  
  text-align: right;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px;  
}

.template-item {
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px;  
}

#templatesSectionTop {
  text-align: center;
}

#instancesBrowseImg {
  padding-right: 3px;
  position: relative;
  top: 3px;  
}

#instancesSearchImg {
  padding-right: 3px;
  position: relative;
  top: 3px;  
}


#othersTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#othersTable input {
  width: 85%;
}

#othersTable textarea {
  width: 90%;
}

#othersTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px; 
  cursor: pointer; 
}

#othersHeaderImg {
  float: right;
  cursor: pointer;
}

#othersTable input {
  width: 85%;
}

.structureAddImg {
  padding-left: 3px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.instancesAddImg {
  padding-left: 3px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.inputAddImg {
  padding-left: 3px;
  position: relative;
  top: 3px;  
  cursor: pointer;
}

.othersAddImg {
  padding-left: 3px;
  position: relative;
  top: 3px;  
  cursor: pointer;
}

#topInstancesRow {
  text-align: center;
}

.attributeText {
  width: 25%;
}

.attributeInputText {
}

.attributeInputTextArea {
  
}

.inputAddImg {
  
}

#othersTable {
  
}

#othersTableHeader {
  
}

.saveButton {
  width: 85px;
}

.contextMenuItem ins {
  padding-left: 5px;
}


/*
 CSS for the jQuery pagination plugin
 
   http://plugins.jquery.com/project/pagination
*/
.pagination {
}

.pagination a {
  text-decoration: none;
  border: solid 1px #AAE;
  color: #15B;
}

.pagination a, .pagination span {
  display: block;
  float: left;
  padding: 0.3em 0.5em;
  margin-right: 1px;
  margin-bottom: 5px;
  min-width:1em;
  text-align:center;
}

.pagination .current {
  background: #26B;
  color: #fff;
  border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
  color:#999;
  border-color:#999;
  background:#fff;
}

/* Autocomplete Styles */

.autocomplete-w1 { 
  position:absolute; 
  top:0px; 
  left:0px; 
  margin:8px 0 0 6px; 
  
  /* IE6 fix: */ 
  _background:none; _margin:0; 
}

.autocomplete 
{ 
  border:1px solid #999; 
  background:#FFF; 
  cursor:default; 
  text-align:left; 
  max-height:350px; 
  overflow:auto; 
  margin:-6px 6px 6px -6px; 
  
  /* IE6 specific: */ 
  _height:350px;  
  _margin:0; 
  _overflow-x:hidden; 
}

.autocomplete .selected { 
  background:#F0F0F0; 
}

.autocomplete div { 
  padding:2px 5px; 
  white-space:nowrap; 
}

.autocomplete strong { 
  font-weight:normal; 
  color:#3399FF; 
}

.ajax-waiting-icon {
  position: relative;
  top: 3px;
  padding-left: 3px;
}

.jsTreeLinksReadingMode {
  cursor: pointer;
  color: blue;
}

.structureSuperClassText {
  width: 25%;
}

.structureSubClassText {
  width: 25%;
}

.structureSubPropertyText {
  width: 25%;
}

.structureEquivalentClassText {
  width: 25%;
}


.structureDisjointClassText {
  width: 25%;
}

.characteristicsText {
  width: 25%;
}

.displayControlText {
  width: 25%;
}

.relationBrowserNodeTypeText {
  width: 25%;
}

.readingModeAltLabels {
  padding-bottom: 20px;
}

.readingModePrefLabel {
  padding-bottom: 0px;
  margin-bottom: 0px;  
}

.readingModeDescription {
}

#ontologyViewColumRecord td {
  padding-left: 20px;
}

.tabsRow {
  padding: 0px;
  border-bottom: 2px solid #EED300;
}

#teaserBox {
  padding-left: 20px;
}

.buttonsContainer {
  text-align: center; 
  /*width: 100%;*/
  padding: 15px;
  background: none repeat scroll 0 0 #FFFCE3;
}

#ontologyViewColumRecord table{
  margin: 0px;
  width: 100%;
}

#searchFilterForm {
  margin:0; 
  padding:5px 7px; 
  background:#D7D6D5;
}

#searchFilterForm label {
  font-size:small;
}

#searchFilterForm input {
  padding:2px; 
  font-size:small; 
  width:97%;
}




/* Individuals Tab */


#iList {
  list-style:none; 
  padding:0;
}

#iList li {
  font-size:small; 
  border-bottom:1px solid #D7D6D5; 
  margin:0; 
  padding:5px 7px; 
  line-height:1.5;
  list-style: none;
}

#iList li:hover {
  background:#e7f4f9; 
  border:1px solid #d8f0fa; 
  cursor: pointer;
}

#dataPropertyTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#dataPropertyTable input {
  width: 85%;
}

#dataPropertyTable textarea {
  width: 90%;
}

#dataPropertyTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px; 
  cursor: pointer; 
}

#dataPropertyHeaderImg {
  float: right;
  cursor: pointer;
}

#dataPropertyTable input {
  width: 85%;
}

#dataPropertyTableFooter {
  background-color: #F7F3E8;
  border: 1px solid #D5E1DD;
}

#annotationObjectTableFooter input {
  width: 85%;
}

#annotationDatatypeTableFooter input {
  width: 85%;
}

#dataPropertyTableFooter input {
  width: 85%;
}

#dataPropertyTableFooter td {
  padding-top: 5px;
  padding-bottom: 5px;
}

#dataPropertyAddNewAttributeIconImage {
  position: relative;
  top: 3px;  
}

#dataPropertyAddNewAttributeIconWait {
  position: relative;
  top: 3px;  
}




#objectPropertyTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#objectPropertyTable input {
  width: 85%;
}

#objectPropertyTable textarea {
  width: 90%;
}

#objectPropertyTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px; 
  cursor: pointer; 
}

#objectPropertyHeaderImg {
  float: right;
  cursor: pointer;
}

#objectPropertyTable input {
  width: 85%;
}

#objectPropertyTableFooter {
  background-color: #F7F3E8;
  border: 1px solid #D5E1DD;
}

#objectPropertyTableFooter input {
  width: 85%;
}

#objectPropertyTableFooter td {
  padding-top: 5px;
  padding-bottom: 5px;
}

#objectPropertyAddNewAttributeIconImage {
  position: relative;
  top: 3px;  
}

#objectPropertyAddNewAttributeIconWait {
  position: relative;
  top: 3px;  
}

#typesTable {
  background: #FFFCE3;
  border: 1px solid #EED300;
}

#typesTable input {
  width: 85%;
}

#typesTable textarea {
  width: 90%;
}

#typesTableHeader {
  background: none repeat scroll 0 0 #ffface;
  border: 1px solid #EED300;
  border-radius: 6px 6px 6px 6px;
  color: #C28E00;
  font-size: 1.166em;
  margin: 20px 0;
  padding-left: 10px; 
  cursor: pointer; 
}

#typesHeaderImg {
  float: right;
  cursor: pointer;
}

#typesTable input {
  width: 85%;
}

.namedIndividualClicked { 
  background:#beebff; 
  border:1px solid #99defd; 
}

#individualsListAjaxLoadingContainer {
  
}

.ontologyEdit {
  position: relative;
  float: right;
  cursor: pointer;
}


/*
.objectPropertyRow input {
  background: white url('../imgs/link.png') no-repeat right top;  
}

.typesRow input {
  background: white url('../imgs/link.png') no-repeat right top;  
}

#objectPropertyAddNewAttribute {
  background: white url('../imgs/link.png') no-repeat right top;  
}

#dataPropertyAddNewAttribute {
  background: white url('../imgs/link.png') no-repeat right top;  
}

#annotationObjectAddNewAttribute {
  background: white url('../imgs/link.png') no-repeat right top;  
}

#annotationDatatypeAddNewAttribute {
  background: white url('../imgs/link.png') no-repeat right top;  
}

.dataPropertyRow input {
  background: white url('../imgs/font.png') no-repeat right top;  
}

.annotationsRow input {
  background: white url('../imgs/font.png') no-repeat right top;  
}

.attributeRow input {
  background: white url('../imgs/font.png') no-repeat right top;  
}

.structureRow input {
  background: white url('../imgs/link.png') no-repeat right top; 
}

.displayControlInputText {
  background: white url('../imgs/link.png') no-repeat right top; 
}

.ignoredByInputText {
  background: white url('../imgs/link.png') no-repeat right top; 
}

.comparableWithInputText {
  background: white url('../imgs/link.png') no-repeat right top; 
}

.isAboutInputText {
  background: white url('../imgs/link.png') no-repeat right top; 
}

.isCharacteristicOfInputText {
  background: white url('../imgs/link.png') no-repeat right top; 
}

.shortLabelInputText {
  background: white url('../imgs/font.png') no-repeat right top; 
}

.orderingValueInputText {
  background: white url('../imgs/font.png') no-repeat right top; 
}

.unitTypeInputText {
  background: white url('../imgs/font.png') no-repeat right top; 
}
 
.otherRow input {
  background: white url('../imgs/font.png') no-repeat right top; 
}

.characteristicsRow input {
  background: white url('../imgs/link.png') no-repeat right top; 
}

.relationBrowserNodeTypeInputText {
  background: white url('../imgs/link.png') no-repeat right top; 
}

.mapMarkerImageUrlInputText{
  background: white url('../imgs/font.png') no-repeat right top; 
}
*/


.objectPropertyRow input {
  background: white url('../imgs/link.png') no-repeat left top;  
  padding-left: 20px;
}

.typesRow input {
  background: white url('../imgs/link.png') no-repeat left top;  
  padding-left: 20px;
}

#objectPropertyAddNewAttribute {
  background: white url('../imgs/link.png') no-repeat left top;  
  padding-left: 20px;
}

#dataPropertyAddNewAttribute {
  background: white url('../imgs/link.png') no-repeat left top;  
  padding-left: 20px;
}

#annotationObjectAddNewAttribute {
  background: white url('../imgs/link.png') no-repeat left top;  
  padding-left: 20px;
}

#annotationDatatypeAddNewAttribute {
  background: white url('../imgs/link.png') no-repeat left top;  
  padding-left: 20px;
}

.dataPropertyRow input {
  background: white url('../imgs/font.png') no-repeat left top;  
  padding-left: 20px;
}

.annotationsRow input {
  background: white url('../imgs/font.png') no-repeat left top;  
  padding-left: 20px;
}

.attributeRow input {
  background: white url('../imgs/font.png') no-repeat left top;  
  padding-left: 20px;
}

.structureRow input {
  background: white url('../imgs/link.png') no-repeat left top; 
  padding-left: 20px;
}

.structureRowText input {
  background: white url('../imgs/font.png') no-repeat left top; 
  padding-left: 20px;
}

.displayControlInputText {
  background: white url('../imgs/link.png') no-repeat left top; 
  padding-left: 20px;
}

.ignoredByInputText {
  background: white url('../imgs/link.png') no-repeat left top; 
  padding-left: 20px;
}

.comparableWithInputText {
  background: white url('../imgs/link.png') no-repeat left top; 
  padding-left: 20px;
}

.isAboutInputText {
  background: white url('../imgs/link.png') no-repeat left top; 
  padding-left: 20px;
}

.isCharacteristicOfInputText {
  background: white url('../imgs/link.png') no-repeat left top; 
  padding-left: 20px;
}

.shortLabelInputText {
  background: white url('../imgs/font.png') no-repeat left top; 
  padding-left: 20px;
}

.orderingValueInputText {
  background: white url('../imgs/font.png') no-repeat left top; 
  padding-left: 20px;
}

.unitTypeInputText {
  background: white url('../imgs/font.png') no-repeat left top; 
  padding-left: 20px;
}
 
.otherRow input {
  background: white url('../imgs/font.png') no-repeat left top; 
  padding-left: 20px;
}

.characteristicsRow input {
  background: white url('../imgs/link.png') no-repeat left top; 
  padding-left: 20px;
}

.relationBrowserNodeTypeInputText {
  background: white url('../imgs/link.png') no-repeat left top; 
  padding-left: 20px;
}
 
.mapMarkerImageUrlInputText{
  background: white url('../imgs/font.png') no-repeat left top; 
  padding-left: 20px;
}
#ontologyViewTable input[disabled],
#ontologyViewTable textarea[disabled] {
  background-color: #ddd;
}
#ontologyViewTable .buttonsContainer input[disabled] {
  display: none;
}
