.suggestions-popup.suggestions-hidden {
  display: none;
}
.suggestions-popup {
  clear: both;
  top: 10px;
  border-radius: 5px;
  border: 1px solid #CCC;
  position: relative;
  padding: 20px;
  background: #FFF;
}
.suggestions-popup img {
  display: none;
}
.suggestions-popup.suggestions-loading img {
  display: block;
  margin: 0 auto;
}
.suggestions-popup.suggestions-loading .suggestions-content {
  display: none;
}
